# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env/

# Django migrations (optional, sometimes useful to track)
**/migrations/*.pyc
**/migrations/__pycache__/

# VSCode / IDE settings
.vscode/
.idea/

# Logs
*.log

# Database
*.sqlite3

# OS and backup files
.DS_Store
Thumbs.db
*.bak
*.swp



# Coverage and test
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
test-output/
